In [16]:
import pandas as pd

def clean_data(df):
    df = df[['prezzo','superficie', 'bagni', 'stanze']]
    df = df.dropna(subset=['stanze', 'prezzo','superficie'])
    return df

# Loaded variable 'df' from URI: d:\DEV'd\INTRO_TO_ML\WDAY_ML\PROJECT\sale_clean.csv
df = pd.read_csv(r"d:\DEV'd\INTRO_TO_ML\WDAY_ML\PROJECT\sale_clean.csv")
df = clean_data(df)
df.head()

C:\Users\Leo\AppData\Local\Temp\ipykernel_4660\4219569240.py:9: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"d:\DEV'd\INTRO_TO_ML\WDAY_ML\PROJECT\sale_clean.csv")

     prezzo  superficie  bagni  stanze
0   78000.0        67.0    1.0     3.0
1  460000.0        75.0    2.0     3.0
2  387000.0       160.0    2.0     4.0
3  257000.0       136.0    2.0     5.0
4  370000.0       105.0    2.0     3.0

In [ ]:

from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler
import numpy as np


df_clean = df.copy()
features_knn = ["superficie", "bagni", "stanze"]
X = df_clean[features_knn]

# Fit the scaler and imputer
#scaler = StandardScaler()
#X_scaled = scaler.fit_transform(X)

imputer = KNNImputer(n_neighbors=5)
#X_imputed_scaled = imputer.fit_transform(X_scaled)
X_imputed = imputer.fit_transform(X)
# IMPORTANT: Inverse transform back to original scale
#X_imputed = scaler.inverse_transform(X_imputed_scaled)
df_clean = X_imputed
# Now assign the properly scaled values
#df_clean["superficie"] = X_imputed[:, features_knn.index("superficie")]
#df_clean["stanze"] = np.round(X_imputed[:, features_knn.index("stanze")])
#df_clean["bagni"] = np.round(X_imputed[:, features_knn.index("bagni")])

# Ensure no negative values for bathrooms (logical constraint)
#df_clean["bagni"] = np.maximum(0, df_clean["bagni"])

#df_clean.head()

array([[ 67.,   1.,   3.],
       [ 75.,   2.,   3.],
       [160.,   2.,   4.],
       ...,
       [ 70.,   2.,   4.],
       [ 55.,   1.,   3.],
       [176.,   2.,   5.]], shape=(25179, 3))

In [8]:
print(df_clean.info())

<class 'pandas.core.frame.DataFrame'>
Index: 25179 entries, 0 to 37086
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   superficie  25179 non-null  float64
 1   bagni       25013 non-null  float64
 2   stanze      25179 non-null  float64
dtypes: float64(3)
memory usage: 786.8 KB
None